body{
    
    margin: 0;
}   
/* Question 1 css*/
.Question-1{
    background-color: #1DE592;
    padding: 120px 40px;
    font-family: 'Roboto', sans-serif;
    border-radius: 12px;
    width: 600px;
    box-sizing: border-box;
    margin: 100px auto;
}
.h1{
    font-size: 50px;
}
.btn{
    border: none;
    height: 40px;
    width: 40%;
    margin: 20px auto;
    text-align: center;
    border-radius: 30px;
    letter-spacing: .5px;
    font-size: large;
}
/* Question 2 css*/

.Question-2{
    font-family: sans-serif;
    border : 2px solid #E1E2E6;
    padding: 40px 40px;
    border-radius: 12px;
    width: 450px;
    box-sizing: border-box;
    margin: 100px auto 0 auto;
}
.light{
    color: #787B7E;
}
.round-images{
    height: 100px;
    width: 100px;
    margin: 0 20px;
    border-radius: 50px;   
}
.link-in-q2{
   text-decoration: none;
   color: #1D73E8;
}

/* Question 3 css*/

.Question-3{
    font-family: sans-serif;
    border : 2px solid #E1E2E6;
    border-radius: 12px;
    width: 450px;
    box-sizing: border-box;
    margin: 0 auto;
}
.image-q3{
    margin: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 318px;
    box-sizing: border-box;
}
.light-q3{
    color :#68696a;
    text-align: center;
    line-height: 20px;
}
.text-q3{
    padding: 0 20px;
}
.btn-q3{
    margin: 20px 20px;
    padding: 10px 20px;
    background-color: white;
    border:2px solid #b4b4b4;
    border-radius: 5px;
    color: #1D73E8;
    font-size: 20px;

}


/* Question 4 css*/


.Question-4{
    font-family: sans-serif;
    box-sizing: border-box;
    width: 300px;
    margin: 250px auto;
    box-sizing: border-box;
}
.Question-4 .img-q4{
    width: 200px;
    margin: 10px auto;
}
.input-q4{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #787B7E;
    width: 200px;
}
.btn-q4{
    background-color: black;
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 15px;
    margin: 10px auto;
}